<form action="">
    <label for="title">
        Enter product title:
        <input type="text" name="title" id="title">
    </label>
    <label for="description">
        Enter product description:
        <input type="text" name="description" id="description">
    </label>
    <label for="price">
        Enter product price:
        <input type="text" name="price" id="price">
    </label>
    <label class="file-label">
        <input type="file" class="file-input" name="thumbnail">
        <span class="file-cta"></span>
    </label>
</form>
